[Unit]
Description=Durins Daemon
After=network.target

[Service]
Type=forking
GuessMainPID=no
ExecStart=/usr/local/src/durins/build/release/bin/durins --rpc-bind-ip 127.0.0.1 --detach --restricted-rpc
Restart=always
User=durinsdaemon

[Install]
WantedBy=multi-user.target
